<li class="span4">
  <div class="collection">
    <figure class="image">
      <a href= "{{ collection.url }}">
        {% if collection.image %}
          {{ collection.image.src | collection_img_url: 'large' | img_tag: collection_title }}
        {% else %}
          {{ collection.products.first.featured_image | product_img_url: 'large' | img_tag: collection_title }}
        {% endif %}
      </a>
    </figure>

    <div class="caption">
      <h2 class="title">
        <a href="{{ collection.url }}">{{ collection.title }}</a>
      </h2>
    </div>
  </div>
</li>