<!-- <header id="dashboard" class="hidden-xs">
  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <ul class="nav navbar-nav">
        <li>
          <a href="http://instagram.com/blkancr" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="http://twitter.com/TheBlackAnchor" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="http://www.facebook.com/BlackAnchorWorkshop" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="http://pinterest.com/source/shop.blackanchorworkshop.com/" target="_blank">
            <i class="fa fa-pinterest"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header> -->

<header id="header">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar-collapse"
          aria-expanded="false">

          <span class="sr-only">Toggle navigation</span>

          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">
          Black Anchor
        </a>
      </div>

      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          {% for link in linklists.main-menu.links %}
            {% capture child_list_handle %}
            {{ link.title | handle }}
            {% endcapture %}

            {% if linklists[child_list_handle] and
              linklists[child_list_handle].links.size > 0 %}
              <li class="dropdown" id="menu{{ forloop.index }}"
                {% if link.active %}
                  class="active"
                {% endif %}
                {% if template contains 'product' and link.title == 'Shop' %}
                  class="active"
                {% endif %}
              >
                <a class="dropdown-toggle" href="#menu{{ forloop.index }}"
                  data-toggle="dropdown">
                  {{ link.title }}
                  <b class="caret"></b>
                </a>

                {% if linklists[child_list_handle] and
                  linklists[child_list_handle].links.size > 0 %}
                  <ul class="dropdown-menu">
                    {% for l in linklists[child_list_handle].links %}
                      <li><a href="{{ l.url }}">{{ l.title }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>

            {% else %}
              <li
                {% if link.active %}
                  class="active"
                {% endif %}
                {% if template contains 'product' and
                  link.title == 'Shop' %}
                  class="active"
                {% endif %}
              >
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        {% if linklists.social.links.size > 0 %}
        <div class="visible-xs">
          <hr>

          <ul class="nav navbar-nav">
            {% for social in linklists.social.links %}
            <li class="{{ social.handle }}">
              <a href="{{ social.url | escape }}" target="_blank">
                {{ social.title | escape }}
              </a>
            </li>
            {% endfor %}
          </ul>

          <hr>
        </div>
        {% endif %}

        <ul class="nav navbar-nav navbar-right">
          {% if shop.customer_accounts_enabled and customer %}
          <li class="dropdown">
            <a href="/account" class="dropdown-toggle"
              data-toggle="dropdown" data-target="#">
              {{ customer.first_name }}
              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
              <li><a href="/account">Account</a></li>
              <li>{{ "Logout" | customer_logout_link }}</li>
            </ul>
          </li>

          {% else %}

          <li>{{ "Login" | customer_login_link }}</li>
          {% endif %}

          <li class="hidden-xs menu-item-cart"
            ng-controller="cartMiniCtrl">
            <!-- [[cart]] -->
            <a class="dropdown-toggle"
              ng-click="show = !show"
              ng-show="cart.items.length">
              <ng-pluralize count="cart.items.length" when="{
                '0': '', 'NaN': '',
                '1': '1 Item In Cart',
                'other': '{} Items In Cart'
              }"></ng-pluralize>
              <span class="caret"></span>
            </a>

            <div class="dropdown-menu text-default"
              ng-class="{ 'show': show }">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Qty</th>
                    <th>Item</th>
                    <th class="text-right">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in cart.items">
                    <td>
                      [[item.quantity]]
                    </td>
                    <td>
                      [[item.title]]
                    </td>
                    <td class="text-right">
                      [[item.line_price/100 | currency]]
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <th colspan="2" class="text-right">Total</th>
                  <td class="text-right">
                    [[ cart.total_price/100 | currency ]]
                  </td>
                </tfoot>
              </table>

              <div class="dropdown-menu-container">
                <div class="row">
                  <div class="col-sm-5">
                    <a href="/cart" class="btn btn-default btn-rounded btn-block">
                      Update
                    </a>
                  </div>

                  <div class="col-sm-7">
                    <a href="/cart" class="btn btn-primary btn-outline btn-rounded btn-block">
                      Checkout
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>