<ol class="thumbnails">
  {% for product in collections[collection].products %}
    <li class="span4">
      <div class="thumbnail">
        <a href="{{ product.url | within: collections[collection] }}">
          <img src="{{ product.images.first | product_img_url: 'large' }}" />
        </a>

        <div class="caption">
          <h2>
            <a href="{{ product.url | within: collections[collection] }}">
              {{ product.title }}
            </a>
          </h2>

          {% unless product.available %}
            <span class="label label-danger">Out of stock</span>
          {% endunless %}

          {% if product.available %}
          
{% assign tag_price = 0 %}
{% assign tag = 'default' %}
{% if customer.tags.size > 0 %}
{% for cust_tag in customer.tags %}
{% if product.metafields.shappify_csp[cust_tag] %}
{% assign tag = cust_tag %}
{% endif %}
{% endfor %}
{% endif %}
{% if product.metafields.shappify_csp[tag] %}
{% assign tag_price = 1 %}
{% endif %}
{% if tag_price != 1 %}          
          
            <span class="label label-inverse">
            {{ product.price_min | money }}
            {% if product.price_varies %}
              to{{ product.price_max | money }}
            {% endif %}
            
            {% if product.compare_at_price_max > product.price %}
              {{ settings.sale_text }}
            {% endif %}
            </span>
          
{% else %}
{% capture attribute_price_min %}{{tag}}_raw_lownum{% endcapture %}
{% capture attribute_price_max %}{{tag}}_price_high{% endcapture %}
{% capture attribute_price %}{{tag}}{% endcapture %}
 
		    <span class="label label-inverse">
            {{ product.metafields.shappify_csp[attribute_price] }}
            {% if product.metafields.shappify_csp[attribute_ind] %}
              to{{ product.metafields.shappify_csp[attribute_price] }}
            {% endif %}
            
            {% if product.compare_at_price_max > product.price %}
              {{ settings.sale_text }}
            {% endif %}
            </span> 
          
{% endif %}          
          
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ol>