<li class="span4">
  <div class="product">
    <figure class="image">
      <a href="{{ product.url }}">
        <img src="{{ product.featured_image | product_img_url: 'large'}}" />
      </a>
    </figure>

    <div class="caption">
      <h2 class="title">
        <a href="{{ product.url }}">
          {{ product.title }}
        </a>
      </h2>

      <p class="price">
        {% unless product.available %}
          <span class="label label-danger">Out of stock</span>
        {% endunless %}

        {% if product.available %}
        
{% assign tag_price = 0 %}
{% assign tag = 'default' %}
{% if customer.tags.size > 0 %}
{% for cust_tag in customer.tags %}
{% if product.metafields.shappify_csp[cust_tag] %}
{% assign tag = cust_tag %}
{% endif %}
{% endfor %}
{% endif %}
{% if product.metafields.shappify_csp[tag] %}
{% assign tag_price = 1 %}
{% endif %}
{% if tag_price != 1 %}        
        
          <span class="label label-inverse">
            {{ product.price_min | money }}
            {% if product.price_varies %}
              - {{ product.price_max | money }}
            {% endif %}
          </span>
        
{% else %}
{% capture attribute_price_min %}{{tag}}_raw_lownum{% endcapture %}
{% capture attribute_price_max %}{{tag}}_price_high{% endcapture %}
{% capture attribute_price %}{{tag}}{% endcapture %}
 
 		  <span class="label label-inverse">
            {{ product.metafields.shappify_csp[attribute_price] }}
            {% if product.metafields.shappify_csp[attribute_ind] %}
              - {{ product.metafields.shappify_csp[attribute_price] }}
            {% endif %}
          </span> 
{% endif %}        
        
        {% endif %}
      </p>
    </div>
  </div>
</li>