{% layout settings.customer_layout %}
<div class="row">
  <div class="span12">

    <div class="clearfix">
      <a href="/account" class="btn btn-default pull-left">
        <i class="icon icon-chevron-left"></i>
        Account
      </a>

      <a href="#" class="btn btn-primary pull-right" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">
        <i class="icon icon-plus"></i>
        Address
      </a>
    </div>

    <hr>

    <section>
      <h2 class="title">Addresses</h2>
    </section>

    <hr>

    <span id="add_address" style="display:none;">
      {% form 'customer_address', customer.new_address %}
      <div class="modal">
        <div class="modal-header">
          <h3>Add Address</h3>
        </div>

        <div class="modal-body">
          <div class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="address_first_name_new">
                First Name
              </label>
              <div class="controls">
                <input type="text" id="address_first_name_new" class="address_form input-xlarge" name="address[first_name]" value="{{form.first_name}}">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="address_last_name_new">
                Last Name
              </label>
              <div class="controls">
                <input type="text" id="address_last_name_new" class="address_form input-xlarge" name="address[last_name]" value="{{form.last_name}}">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="address_company_new">
                Company
              </label>
              <div class="controls">
                <input type="text" id="address_company_new" class="address_form input-xlarge" name="address[company]" value="{{form.company}}">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="address_address1_new">
                Address
              </label>
              <div class="controls">
                <input type="text" id="address_address1_new" class="address_form input-xlarge" name="address[address1]" value="{{form.address1}}">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="address_address2_new">
                Address (cont.)
              </label>
              <div class="controls">
                <input type="text" id="address_address2_new" class="address_form input-xlarge" name="address[address2]" value="{{form.address2}}">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="address_city_new">
                City
              </label>
              <div class="controls">
                <input type="text" id="address_city_new" class="address_form input-xlarge" name="address[city]" value="{{form.city}}">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="address_country_new">Country</label>
              <div class="controls">
              <select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
              </div>
            </div>

            <div class="control-group" id="address_province_container_new" style="display:none">
              <label class="control-label" for="address_province_new">Province</label>
              <div class="controls">
              <select id="address_province_new" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="address_zip_new">Zip</label>
              <div class="controls">
              <input type="text" id="address_zip_new" class="address_form input-small" name="address[zip]" value="{{form.zip}}">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="address_phone_new">Phone</label>
              <div class="controls">
              <input type="text" id="address_phone_new" class="address_form input-xlarge" name="address[phone]" value="{{form.phone}}">
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <label class="checkbox">
                  {{ form.set_as_default_checkbox }}
                  Default Address
                </label>
              </div>
            </div>

            <div class="form-actions">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <a href="#" class="btn" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">
            Cancel
          </a>

          <button class="btn btn-primary" type="submit">
            Add Address
          </button>
        </div>
      </div>
      {% endform %}
    </span>


    {% paginate customer.addresses by 10 %}

    <div class="row">
      {% for address in customer.addresses %}
      <div class="span4">
        <!-- <div id="view_address_{{address.id}}"> -->
        <div class="text-center">
          <address>
            <strong>{{ address.first_name }} {{address.last_name }}</strong><br>
            <em>{{ address.company }}</em></br>
            <span class="muted">
              {{ address.street }}</br>
              {{ address.city }} {% if address.province_code %}, {{ address.province_code }}{% endif %}</br>
              {{ address.country }} {{ address.zip }}
            </span></br>
            P: {{ address.phone }}
          </address>


          <p>
            <a class="btn btn-default" onclick="Shopify.CustomerAddress.toggleForm({{ address.id }});return false">Edit</a>

            <a class="btn btn-danger" onclick="Shopify.CustomerAddress.destroy({{ address.id }}, 'Are you sure you wish to delete this address?');return false">Delete</a>
          </p>
        </div>

        <span id="edit_address_{{address.id}}" style="display:none;">
          {% form 'customer_address', address %}
          <div class="modal">
            <div class="modal-header">
              <h3>Edit Address</h3>
            </div>

            <div class="modal-body">
              <div class="form-horizontal">

                <div class="control-group">
                  <label class="control-label" for="address_first_name_{{form.id}}">First Name</label>
                  <div class="controls">
                    <input type="text" id="address_first_name_{{form.id}}" class="address_form input-xlarge" name="address[first_name]" value="{{form.first_name}}">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="address_last_name_{{form.id}}">Last Name</label>
                  <div class="controls">
                    <input type="text" id="address_last_name_{{form.id}}" class="address_form input-xlarge" name="address[last_name]" value="{{form.last_name}}">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="address_company_{{form.id}}">Company</label>
                  <div class="controls">
                    <input type="text" id="address_company_{{form.id}}" class="address_form input-xlarge" name="address[company]" value="{{form.company}}">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="address_address1_{{form.id}}">Address1</label>
                  <div class="controls">
                    <input type="text" id="address_address1_{{form.id}}" class="address_form input-xlarge" name="address[address1]" value="{{form.address1}}">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="address_address2_{{form.id}}">Address2</label>
                  <div class="controls">
                    <input type="text" id="address_address2_{{form.id}}" class="address_form input-xlarge" name="address[address2]" value="{{form.address2}}">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="address_city_{{form.id}}">City</label>
                  <div class="controls">
                    <input type="text" id="address_city_{{form.id}}" class="address_form input-xlarge" name="address[city]" value="{{form.city}}">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="address_country_{{form.id}}">Country</label>
                  <div class="controls">
                  <select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
                 </div>
                </div>

                <div class="control-group" id="address_province_container_{{form.id}}" style="display:none">
                  <label class="control-label" for="address_province_{{form.id}}">Province</label>
                  <div class="controls">
                  <select id="address_province_{{form.id}}" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="address_zip_{{form.id}}">Zip</label>
                  <div class="controls">
                  <input type="text" id="address_zip_{{form.id}}" class="address_form input-small" name="address[zip]" value="{{form.zip}}">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="address_phone_{{form.id}}">Phone</label>
                  <div class="controls">
                  <input type="text" id="address_phone_{{form.id}}" class="address_form input-small" name="address[phone]" value="{{form.phone}}">
                  </div>
                </div>

                <div class="control-group">
                  <div class="controls">
                    <label class="checkbox">
                      {{ form.set_as_default_checkbox }}
                      Default Address
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <a href="#" class="btn" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">
                Cancel
              </a>

              <button class="btn btn-primary" type="submit">
                Update Address
              </button>
            </div>
          </div>
          {% endform %}
        </span>

      </div>
      {% endfor %}
    </div>

    {{ paginate | default_pagination }}

    {% endpaginate %}

  </div>
</div>
<script type="text/javascript" charset="utf-8">
  // initialize observers on address selectors
  new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});
  {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
  {% endfor %}
</script>
