<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div id="product-images" class="row">
        {% if product.images.size > 1 %}
        {% for image in product.images %}
        <div class="col-sm-12">
          <figure class="product-image image">
            <img src="{{ image | product_img_url: 'original' }}"
              class="img-responsive"
              data-orig="{{ image | product_img_url: 'original' }}" />
          </figure>
        </div>
        {% endfor %}
        {% endif %}
      </div>

      {% if product.images.size > 1 %}
      <div id="product-thumbnails" class="row hidden-xs">
        {% for image in product.images %}
        <div class="col-sm-3">
          <figure class="product-thumbnail image">
            <a href="{{ image | product_img_url: 'original' }}">
              <img src="{{ image | product_img_url: 'medium' }}"
                class="img-responsive"
                data-orig="{{ image | product_img_url: 'original' }}" />
            </a>
          </figure>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="col-sm-6">
      <section>
        <header>
          <h1 class="title">
            {{ product.title }}

            <span id="price-field" class="label label-inverse">
              {{ product.variants.first.price | money_with_currency }}
              {% if product.price_min < product.compare_at_price_min %}
                <s>{{ product.compare_at_price_min | money }}</s>
              {% endif %}
            </span>
          </h1>
        </header>

        <div class="content">

          <hr>

          <form action="/cart/add" method="post" class="product-form">
            {% if product.options.size > 1 %}

            <div class="control-group">
              <div class="controls">
                <select name="id" id="product-select">
                  <option value="{{ variant.id }}">
                    {{ variant.title }} - {{ variant.price | money }}
                  </option>
                </select>
              </div>
            </div>

            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />

            {% endif %}

            {% unless product.available %}

            <p class="text-warning">The {{ product.title | replace_first: 'The ','' }} will be available soon. To reserve this item for it's next launch email your request to <a href="mailto:stephen@blkancr.co?Subject=product%20reservation" target="_top">stephen@blkancr.co</a></p>

            {% else %}

            <div id="purchase-control-group" class="control-group">
              <button type="submit" class="btn btn-primary btn-lg btn-block">
                Purchase
              </button>
            </div>

            {% endunless %}

          </form>

          <hr>

          <div id="product-description">
            {{ product.description }}
          </div>

          <hr>

          <div class="share-buttons share-buttons-panel" data-style="big" data-counter="true" data-oauth="true" data-hover="false" data-promo-callout="left" data-buttons="pinterest,facebook,twitter,google"></div>


          <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"
            async defer ></script>

          <nav class="social hide">
            <ul class="unordered inline">
              <!-- Facebook -->
              <li>
                <a href="http://www.facebook.com/sharer.php?u={{ product.url }}" class="btn btn-primary">
                  <i class="icon-facebook"></i> <span class="hidden-phone">Share</span>
                </a>
              </li>
              <!-- Twitter -->
              <li>
                <a href="http://twitter.com/share?text={{ product.title }}&amp;url={{ product.url }}" class="btn btn-info">
                  <i class="icon-twitter"></i> <span class="hidden-phone">Tweet</span>
                </a>
              </li>
              <!-- Pinterest -->
              <li>
                <a href="//pinterest.com/pin/create/button/?url={{ product.url }}&amp;media={{ product.featured_image | product_img_url: 'large' }}&amp;description={{ product.title }}" class="btn btn-danger">
                  <i class="icon-pinterest"></i> <span class="hidden-phone">Pin</span>
                </a>
              </li>
            </ul>
          </nav>
        </div><!-- /.content -->
      </section>
    </div><!-- /.span6 -->
  </div><!-- /.row -->

  <div id="shopify-product-reviews" data-id="{{product.id}}">
    {{ product.metafields.spr.reviews }}
  </div>
</div><!-- .container -->


{% if collection %}
  {% if collection.previous_product %}
    <span class="pull-left">
      {{ '&larr; Previous product' | link_to: collection.previous_product }}
    </span>
  {% endif %}
  {% if collection.next_product %}
    <span class="pull-right">
      {{ 'Next product &rarr;' | link_to: collection.next_product }}
    </span>
  {% endif %}
{% endif %}

<script>
  product = {{ product | json }}
</script>

<!-- AddShoppers Product Schema Start -->
<div itemscope itemtype="http://schema.org/Product" style="display: none">
<span itemprop="name">{{ product.title }}</span>
<span itemprop="description">{{ product.content }}</span>
<img itemprop="image" src="{{ product.featured_image | product_img_url: 'compact' }}"/>
<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

<span itemprop="price">{{ product.price | money }}</span>

{% if product.available %}
<link itemprop="availability" href="http://schema.org/InStock">In Stock</link>
{% else %}
<link itemprop="availability" href="http://schema.org/OutOfStock">Out of Stock</link>
{% endif %}
</div>
</div>
<!-- AddShoppers Product Schema End -->
